/* Loading page styling */
.loadingSpinner {
	margin-top: 50px;
}

.tableStyling {
	font-size: 1rem;
}

.secretPasswordInput {
	display: none;
}

.buttonContainer {
	align-self: flex-end;
}

.button {
	margin-left: 10px;
}