.tagger {
    height: 30px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.editor {
    width: 60vw;
    min-width: 900px;
    margin: 60px;
}

.editorSubmitButton {
    display: block;
    clear: both;
    margin: 1em 5px 1em 1em;
    float: right;
}

.center {
    margin: auto;
    width: 60vw;
    min-width: 900px;
}

.addTopicButton {
    display: block;
    margin: auto;
}

.deleteTopicButton {
    display: block;
    float: right;
}

.header {
    margin-top: 2rem;
    margin-left: 5rem;
}

.caseName {
    width: 100%;
}

.subTopic {
    width: 100%;
    margin-bottom:10px;
}

.citation {
    width: 8em;
    margin-right: 5px;
}

.deleteCitation {
    margin-right: 5px;
}

/* For Dropdown Tags */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1}