.header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.body {
  width: 100%;;
  max-width: 800px;
  font-size: 1rem;
}

.button {
  align-self: center;
  height: 40px;
}

.card {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  border-bottom: 1px solid rgb(196, 194, 194);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeader {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

.cardWords {
  margin: 0px;
}

.loadingSpinner {
  margin: auto;
  margin-top: 100px;
}

.caseName {
  font-weight: 500;
}

.caseContainer {
	display: flex;
	padding: 0;
	flex-direction: column;
	margin-bottom: 0.5rem;
	border-bottom: 1px solid rgb(196, 194, 194);
	padding-top: 5px;
	padding-bottom: 5px;
}

.citations {
  font-size: 0.9rem;
}

.timeStamp {
  color: grey;
  font-size: 0.7rem;
  text-align: right;
}