html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f8fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* For overriding Quill's CSS */
.ql-editor {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 18em;
  resize: vertical;
  width: 100%;
  background-color: white;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.2em;
}

.ql-editor:focus {
  border-color: black;
  border-width: 2px;
}

.ql-container {
  font-size: 1rem;
}

.ql-toolbar {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
