/* Overall containers and styling */
.container1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* Hide certain elements when viewport is scaled below a certain value */
@media only screen and (max-width: 1140px) {
	.container1 {
		flex-direction: column;
	}

	.recentEditsOuterContainer {
		order: 1;
		width: 100% !important;
		max-width: 600px;
		align-self: center;
	}

	.activityOuterContainer {
		order: 1;
		width: 100% !important;
		max-width: 600px;
		align-self: center;
	}

	.searchContainer {
		align-self: center;
	}
}

/* Recent edits styling */
.recentEditsOuterContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.recentEditsInnerContainer {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.caseIdentifierContainer {
	margin-bottom: 0;
}

.caseName {
	font-weight: 500;
	margin-bottom: 5px;
}

.caseCitation {
	margin-bottom: 0;
}

.cardContainer {
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(196, 194, 194);
	padding-top: 5px;
	padding-bottom: 5px;
}

.editSign {
	align-self: center;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	transition-duration: 0.4s;
	overflow: visible;
}

.editSign:hover {
	cursor: pointer;
	transition-duration: 0.4s;
	filter: drop-shadow(0 0 0.1rem black);
}

/* Recent activity styling */
.activityOuterContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-bottom: 20px;
}

.activityCard {
	display: flex;
	padding: 0;
	flex-direction: column;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	border-bottom: 1px solid rgb(196, 194, 194);
	padding-top: 5px;
	padding-bottom: 5px;
}

.activityInnerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activityCardWords {
	margin: 0px;
}

.activityTimeStamp {
	color: #BABCBD;
	font-size: 0.7rem;
	text-align: right;
}

.activityCardArrow {
	align-self: center;
	transition-duration: 0.4s;
	overflow: visible;
}

.activityCardArrow:hover {
	cursor: pointer;
	transition-duration: 0.4s; 
	filter: drop-shadow(0 0 0.1rem black);
}

.loadingSpinner {
	align-self: center;
	margin-top: 30px;
}

/* Search bar styling */
.searchContainer {
	display: flex;
	position: relative;
	height: 300px;
	width: 100%;
	max-width: 600px;
	flex-direction: column;
}

.searchBar {
	font-size: 1rem;
	padding: 8px 32px 8px 15px;
	width: 100%;
	align-self: flex-start;
	border-radius: 25px;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
}

.searchBar:focus {
	box-shadow: 0 0 5px grey;
	outline: none;
}

.searchIcon {
	position: absolute;
	right: 2%;
	top: 87.75%;
}

.imageContainer {
	display: flex;
	justify-content: center;
}

.bigBrainImage {
	position: relative !important;
	display: block !important;
	margin-right: 0 !important;
	animation: popUp 1s,
				spin 4s linear infinite;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	top: -250px;
}

.bigBrainImage:hover {
	animation-play-state: paused;
	animation-fill-mode: forwards;
}

@keyframes popUp {
	from {top: 0px;}
	to {top: -250px;}
}

@keyframes spin {
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

.iconsContainer {
	display: flex;
	height: 50px;
	margin-top: 20px;
	justify-content: center;
}

.discordIcon {
	transition-duration: 0.4s;
}

.discordIcon:hover {
	cursor: pointer;
	transition-duration: 0.4s; 
}