/* Overall containers and styling */
.container1 {
	display: flex;
	width: 100%;
	justify-content: space-between;
	overflow-x: hidden;
}

/* Recent edits styling */
.recentEditsOuterContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
	flex-wrap: wrap;
}

.recentEditsInnerContainer {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.caseIdentifierContainer {
	margin-bottom: 0;
}

.caseName {
	font-weight: 500;
	margin-bottom: 5px;
}

.caseCitation {
	margin-bottom: 0;
}

.cardContainer {
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(196, 194, 194);
	padding-top: 5px;
	padding-bottom: 5px;
}

.editSign {
	align-self: center;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	transition-duration: 0.4s;
	overflow: visible;
}

.editSign:hover {
	cursor: pointer;
	transition-duration: 0.4s;
	filter: drop-shadow(0 0 0.1rem black);
}

/* Recent activity styling */
.activityOuterContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.activityCard {
	display: flex;
	padding: 0;
	flex-direction: column;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	border-bottom: 1px solid rgb(196, 194, 194);
	padding-top: 5px;
	padding-bottom: 5px;
}

.activityInnerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activityCardWords {
	margin: 0px;
}

.activityTimeStamp {
	color: #BABCBD;
	font-size: 0.7rem;
	text-align: right;
}

.activityCardArrow {
	align-self: center;
	transition-duration: 0.4s;
	overflow: visible;
}

.activityCardArrow:hover {
	cursor: pointer;
	transition-duration: 0.4s; 
	filter: drop-shadow(0 0 0.1rem black);
}


/* Search bar styling */
.searchContainer {
	display: flex;
}

.searchBar {
	font-size: 1rem;
	padding: 8px 32px 8px 15px;
	width: 600px;
	align-self: flex-start;
	border-radius: 25px;
	border-color: grey;
	border-style: solid;
	border-width: 1px;
	margin-top: 150px;
}

.searchBar:focus {
	box-shadow: 0 0 5px grey;
	outline: none;
}

.searchIcon {
	position: absolute;
	margin-top: 163px;
	margin-left: 570px;
}