.button {
	margin-left: 10px;
}

.searchContainer {
	height: 100%;
	border-radius: 2px;
}

.searchContainer:focus {
	box-shadow: #007acc 0px 0px 5px 0px, #007acc 0px 0px 1px 0px;
}

.searchBar {
	height: 100%;
	width: 18vw;
	max-width: 20em;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 2px;
}

.searchBar:focus {
	outline: none;
}

.searchIcon {
	display: inline;
	transition-duration: 0.2s;
	color: white;
	margin-left: 10px;
}

.searchIcon:hover {
	transition-duration: 0.2s;
	cursor: pointer;
    filter: drop-shadow(0 0 0.1rem white);
}
