.searchContainer {
	height: 100%;
	border-radius: 2px;
}

.searchContainer:focus {
	box-shadow: #007acc 0px 0px 5px 0px, #007acc 0px 0px 1px 0px;
}

.searchBar {
	height: 100%;
	width: 18vw;
	max-width: 20em;
	border-width: 1px;
	border-color: white;
	border-style: solid;
	border-radius: 2px;
}

.searchBar:focus {
	outline: none;
}

.searchIcon {
	display: inline;
	transition-duration: 0.2s;
	color: white;
	margin-left: 10px;
}

.searchIcon:hover {
	transition-duration: 0.2s;
	cursor: pointer;
    filter: drop-shadow(0 0 0.1rem white);
}

.profileIconContainer {
	align-self: center;
	margin-left: 10px;
}

.profileIcon {
	color: white;
	transition-duration: 0.2s;
}

.profileIcon:hover {
	transition-duration: 0.2s;
	cursor: pointer;
	filter: drop-shadow(0 0 0.1rem white);
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 3px;
	right: 13px;
	top: 48px;
}

.dropdownContent a {
	color: black;
	padding: 5px 16px;
	text-decoration: none;
	display: block;
	font-size: 1rem;
}

.dropdownContent a:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

.addCaseIcon {
	color: white;
	transition-duration: 0.2s;
}

.addCaseIcon:hover {
	transition-duration: 0.2s;
	cursor: pointer;
	filter: drop-shadow(0 0 0.1rem white);
}
