.searchResultContainer {
	width: 100%;
	max-width: 1000px;
	min-width: 510px !important;
}

.searchResult {
	margin-bottom: 30px;
}

.searchResultBody {
	font-size: 1.01rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.searchResultFooter {
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	justify-content: flex-end;
	font-size: 1rem;
}

.searchResultHeader {
	font-size: 1.05rem;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
}

.innerHeader {
	margin-bottom: 0px;
	font-weight: 500;
}

.tag {
	margin-left: 3px;
}